@import "globals";
@import "variables";

#display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game-container {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: $white;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

// tiles

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $black solid; // not even thickness
  width: 200px;
  height: 200px;
  background-color: $white;
  transition: all 0.1s ease;
}

// X

.xshape::before {
  content: "x";
  font-size: 10rem;
  width: fit-content;
  color: $black;
}

// O

.oshape::before {
  content: "o";
  font-size: 10rem;
  width: fit-content;
  color: $black;
}
